body{
    background-image: url(aboutmeimage1.JPG);
    background-size: cover;
    background-position: center;
}

.hey{
    text-align: center;
}

.me{
    text-align: center;
}

.poem{

    text-align: center;
    padding-top: 50px;
}