body{
background-image: url(background3.JPG);
background-size: cover;
background-position: center;
color: aliceblue;
text-align: center;
}


.header{
    text-align: center;
    font-size: larger;
    font-weight: lighter;
}

.btn{
    background-color: rgb(44, 44, 184);
    color: aliceblue;
    width: 100px;
    height: 50px;

}

.bar{
    width: 1000px;
    height: 70px;
    align-self: center;
    margin: 50px;
}

.label{
    text-align: center;
    padding: 50px;
}