body{
    background-image: url(nasa--hI5dX2ObAs-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

    

#nav{
    width: 1000px;
    padding:100px;
    text-align: center;
    text-decoration: none;
    font-size:xx-large;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   

}

#header{
    
    color: black;
    text-align: center;
    
}

#description{

    color: black;
    text-align: center;

}
#profile{
    

    text-align: center;
    
}

#footer{
    background-color: rgb(12, 11, 11);
    color:aliceblue;
    text-align: center;
}

ul{
    list-style-type: none;

}

img{
    border-radius: 50%;
    border-color: black;
    border: solid;
    border: bold;
}

.btn{
    border: 3px solid black;
    background-color: black;
    color: azure;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;
    margin: 15px;
}
