body{
    background-color: black;
}
#profile{
    padding: 40px;
    float: left;
}

#header{

}

#description{

}

#nav{
    width: 1000px;
    padding: 50px;
    font-size: large;
    font-weight: bold;
    font-style: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}