body{
    background-image: url(nasa--hI5dX2ObAs-unsplash.jpg);
    background-size: cover;
}

    

#nav{
    width: 1000px;
    padding: 50px;
    font-size:xx-large;
    font-weight: bold;
    font-style: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    
    color: black;
}

#header{
    
    color: black;
    font-style: italic;
}

#description{

    color: black;
}

#footer{
    background-color: gray;
    color: black;
}
