body{

background-image: url(background3.JPG);
background-size: cover;
background-position: center;
text-align: center;
color: aliceblue;

}

img{
    border-radius: 50%;
    border-color: black;
    border: bold;
    border:solid ;
}

#next{
    
    width: 400px;
    height: 60px;
    background-color: black;
    color: aliceblue;
    margin: 10px;
    position: center;
    
}

